<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:enableOnBackInvokedCallback="true"
    tools:targetApi="tiramisu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="HetCuuTruyen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HetCuuTheme"
        tools:targetApi="31">

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/HetCuuThemeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/HetCuuThemeActivity"
            android:exported="false" />


        <activity
            android:name=".activity.TagsSearchActivity"
            android:theme="@style/HetCuuThemeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/HetCuuThemeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.DanhSachChuong"
            android:theme="@style/HetCuuThemeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ReadActivity"
            android:theme="@style/HetCuuThemeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ChiTietTruyen"
            android:theme="@style/HetCuuThemeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.MainScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>